<ion-view view-title="Log Form - {{global.camper.first_name}} {{global.camper.last_name}}">
  <ion-content class="padding">
    
        <div class="row checkin_title">
            <h2 class="sub_title">Log Form Entry on {{date}} at {{time_of_day}}</h2>
        </div>
  	<div class="row logsheets-container">
            
    	<div class="col col-75 padding-horizontal">
            <ion-list> 
            	<form name="logForm" class="log_form" id="form_{{form_id}}" data-id="{{form_id}}" ng-submit="saveForm(logForm)">
                    <ion-item ng-controller="formBuilder" ng-repeat="field in form.fields" class="form_list_item list" id="form_input_{{field.id}}" ng-model="checkinData" ng-bind-html="fieldHTML">
                    </ion-item>
                    <ion-item>
                    	<input name="cv_user_id" id="user_id" type="hidden" value="{{user_id}}" />
                    	<input name="cv_camp_id" id="camp_id" type="hidden" value="{{camp_id}}" />
                    	<input name="cv_camper_id"  id="camper_id" type="hidden" value="{{camper_id}}" />
                    	<input name="cv_form_id"  id="form_id" type="hidden" value="{{form_id}}" />
                    	<input name="cv_type"  id="form_type" type="hidden" value="log" />
                    	<input name="cv_access_token"  id="access_token" type="hidden" value="diabetes8" />
                        <button class="button button-block button-positive" type="submit">
                          Save It!
                        </button>
                    </ion-item>
                </form>
            </ion-list>
        </div>
     	<div class="col col-25">
            
            <ion-item class="item col selected_camper">
            	<div class="image" ng-show="camper.thumbnail">
                	<img ng-src="{{camper.thumbnail}}">
    			</div>
                <div class="image no-image" ng-show="!camper.thumbnail">
                    <img ng-src="http://placehold.it/300x300">
                </div>
                <div class="camper_data">
               	 	<p>Name: {{camper.first_name}} {{camper.last_name}}</p>
                    <p>Date of Birth: {{camper.dob}}</p>
                </div>
                
                <ion-item ng-href="#/checkin" class="item padding-vertical item-balanced">
                  Change Camper
                </ion-item>
            </ion-item>
        </div>
    </div>
     
  </ion-content>
</ion-view>
