     <ion-content class="padding">
        <div id="menu">
          <ul>
            <li id="menu-dash" class="active" data-view="dashboard"><span class="icon-home"></span><a data-href="/dashboard" ng-click="CV_Nav.action(this);" class="menu-icon">Dashboard</a></li>
            <li id="menu-checkin" data-view="checkin"><span class="icon-download"></span><a href="#/checkin" class="menu-icon">Checkin</a></li>
            <li id="menu-logs" data-view="logs"><span class="icon-notebook"></span><a data-href="/logs" ng-click="CV_Nav.action(this);" class="menu-icon">Journal</a></li>
            <!--li id="menu-campers" data-view="campers"><span class="icon-users"></span><a href="javascript: void(0);" class="menu-icon">Campers</a></li-->
            <li id="menu-checkout" data-view="checkout"><span class="icon-upload"></span><a data-href="/checkout" ng-click="CV_Nav.action(this);" class="menu-icon">Checkout</a></li>
          </ul>
        </div>
     </ion-content>
