/* Empty. Add your own CSS if you like */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src:url('../fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-bold';
  src:url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

input, select {
	width:100%;	
}

img {
	width:100%;
	max-width:100%;
	height:auto;
	max-height:auto;	
}

.input-options {
	width:100%;
	text-align:center;	
}
.input-options input {
	width:49.5%;	
	clear:none;
}

.list_item {
	float:left;
	width:30%;
	margin:15px !important;
	height:120px;
	overflow:hidden;
}
.list_item_left {
	float:left;
	width: 25%;
}
.list_item_right {
	float:left;
	width:75%;
}
.list_item_title, .list_item_dates {
	float:left;
	width:100%;
	padding:0px 15px;
	padding-top:20px;
	box-sizing: border-box;
	font-size:16px;
	clear:both;
}
.list_item_title {
	font-weight:bolder;	
}
.list_item_dates {
	padding-top:0px;	
	font-size:14px;
}
.list_item_dates span {
	float:left;
	width:100%;
	padding:10px;	
}

.checkin_content {
	float:left;
	width:100%;	
	margin-top:10px;
}

#menu-btn { width: 75px; height: 75px; line-height: 75px; margin-left: 20px; color: #fff; font-size: 35px; float: left; }
#menu {
	float:left;
	width:100%;	
	position:relative;
	z-index:9;
}
#menu ul { width: 100%; margin:0; padding: 0; list-style: none; }
#menu ul li {float:left; width: 25%; height: 50px; margin:0; list-style: none; }
#menu ul li:last-child { border-bottom: none; }
#menu ul li.active a { background-color: #176649; }
#menu ul li a { float:left; font-family: 'montserrat'; font-size: 20px; color: #fff; text-decoration: none; width:100%;  padding: 10px;  background:#8DC01A;  line-height: 30px;  border-bottom: 1px solid #444;  border-right: 1px solid #444; }
#menu ul li span { font-size: 20px; color: #fff; margin: 0 20px; }

